@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chess Solver</h1>
    <p>Help beat <a href="https://en.wikipedia.org/wiki/Shannon_number">Shannon</a> by donating processor time!</p>
</div>
